/* Preset Colors - Dark Theme! */
:root {
    --page-background: #303030;
    --default-text-color: #D0D0D0;
    --accent-text-color: #f56e0b;
    --secondary-background: #505050;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    background-color: var(--page-background);
    color: var(--default-text-color);
}

/* Button formatting */

.button {
    font-size: 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-weight: bolder;
    background-color: var(--accent-text-color);
    color: var(--page-background);
}

.button:hover {
    border: var(--accent-text-color) solid thin;
    padding: 4px;
    background-color: var(--secondary-background);
    color: var(--accent-text-color);
}

/** Header **/
.flex-spacer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* High-Score Button */

/* Timer Display */
.timer {
    display: none;
    font-size: 26px;
    padding: 10px;
    color: var(--accent-text-color);
}

.time {
    font-size: 40px;
}

/** Quiz Area **/

.quiz {
    flex-direction: column;
    margin-top: 50px;
    
}

.quiz .title {
    font-size: 60px;
    font-weight: bold;
    margin: 30px 20px;
    padding: 20px 20px;
    border-bottom: var(--default-text-color) solid thin;
}

.quiz .correct {
    text-align: center;
    color: #00A000;
    font-weight: normal;
    width: 400px;
}
.quiz .correct span {
    font-weight: bold;
}

.quiz .incorrect {
    text-align: center;
    width: 400px;
    color: #F03030;
    font-weight: normal;
}
.quiz .incorrect span {
    font-weight: bold;
}

.quiz .content {
    font-size: 30px;
    margin: 30px 200px;
}

.quiz .result {
    color: var(--accent-text-color);
    font-size: 60px;
}

.quiz .question {
    font-size: 40px;
    text-align: center;
}

.quiz .content ol {
    
}
.quiz .content ol li {
    
}

/* Button List Formatting */

.quiz .buttons {
    border-top: var(--default-text-color) solid thin;
    padding: 20px 20px 0px 20px;
    margin: 30px 200px;
}

.quiz .buttons ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.quiz form {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.quiz input {
    color: var(--default-text-color);
    background-color: var(--page-background);
    font-size: 30px;
    border: 1px solid var(--accent-text-color);
    width: 180px;
    margin-right: 40px;
    padding: 5px;
}

.quiz input:focus {
    outline: none;
}

.quiz input::placeholder {
    color: #B0B0B0;
}